@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root {
  --color-accent: rgb(69, 117, 249, 1);
  --color-text: #585447;
}

body {
  margin: 0;
  font-family: 'dm mono', monospace;
  line-height: 1.6;
  background: #fffbef;
  color: var(--color-text);
  padding: 2rem;
  font-size: 16px;
}

main {
  max-width: 400px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

a:hover {
  background-color: var(--color-accent);
  padding: 0.1em 0.25em;
  border-radius: 2px;
  color: #fffbef;
}

h1 {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;

}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 2;
  font-weight: 500;
}

.highlight {
  background-color: var(--color-accent);
  padding: 0.1em 0.25em;
  border-radius: 1px;
  color: #fffbef;
}
