@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');


body {
  margin: 0;
  font-family: 'dm mono', monospace;
  line-height: 1.6;
  background: #e1d9c0;
  color: #242222;
  padding: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}
