{% macro projectCard(project, isPriority) %}
  <article class="portfolio-project-card">
    <a href="{{ project.url }}" aria-label="{{ project.ariaLabel }}">
      <div class="portfolio-project-image">
        {% if isPriority %}
          {% set imagePriority = "high" %}
        {% else %}
          {% set imagePriority = "auto" %}
        {% endif %}
        {% responsiveImage project.image, project.imageAlt, "(max-width: 780px) calc(100vw - 2rem), 450px", "", "eager", imagePriority %}
      </div>
      <div class="portfolio-project-title-row">
        <h3>{{ project.title }}</h3>
        <time datetime="{{ project.dateTime }}">{{ project.meta }}</time>
      </div>
    </a>
  </article>
{% endmacro %}
