:root {
  --primary: #a4a093;
  --accent: rgba(164, 160, 147, 0.9);
  --accent-two: rgba(164, 160, 147, 0.2);
  --secondary: #c9ceb0;
  --bg: #242121;
  --text-primary: #cecaba;
  --text-secondary: rgb(206, 202, 186, 0.6);

  --label-col: 15ch;
}
