:root {
--green-primary: rgb(74, 149, 107);
--green-secondary: rgb(74, 149, 107, 0.6);
--green-bg: #fffdf8;
--green-bg-accent: rgb(74, 149, 107, 0.2);
--green-text-primary: rgb(34, 66, 49, 0.9);
--green-text-secondary: rgb(34, 66, 49, .8);
--green-accent: rgb(74, 149, 107, .25);
}

::selection {
  background-color: var(--green-primary);
  color: var(--green-bg);
}

@font-face {
  font-family: "Oddball";
  src: url("../fonts/Oddball.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
font-family: "Cascadia Mono";
src: url("../fonts/CascadiaMono-VariableFont_wght.ttf") format("truetype");
font-weight: 100 700;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "Cascadia Mono";
src: url("../fonts/CascadiaMono-Italic-VariableFont_wght.ttf") format("truetype");
font-weight: 100 700; 
font-style: italic;
font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("/assets/fonts/DMMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("/assets/fonts/DMMono-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("/assets/fonts/DMMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("/assets/fonts/DMMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("/assets/fonts/DMMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("/assets/fonts/DMMono-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

a {
color: var(--green-primary);
}

a:hover {
color: var(--green-text-primary);
}

.nav-title {
font-family: "Oddball", "DM Mono", monospace;
font-size: 1.4rem;
color: var(--green-primary);
letter-spacing: .2rem;
font-feature-settings: "calt" 1;
text-transform: lowercase;
}

h1 {
font-size: 1.6rem;
line-height: 1;
margin-top: .2rem;
margin-bottom: .4rem;
font-family: "Oddball", "DM Mono", monospace;
letter-spacing: .3rem;
color: var(--green-primary);
font-feature-settings: "calt" 1;
text-transform: lowercase;
}

h2 {
margin-top: .6rem;
font-size: 1.1rem;
font-weight: 600;
font-style: italic;
color: var(--green-text-secondary);
}

h3 {
font-size: 1.2rem;
line-height: .1rem;
margin-top: 1rem;
margin-bottom: .1rem;
font-family: "DM Mono", monospace;
color: var(--green-text-primary);
text-transform: lowercase;
font-weight: 800;
}

p {
  color: var(--green-text-primary);
}

nav {
margin-bottom: 3rem;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px dashed var(--green-secondary);
padding-bottom: 1.5rem;
min-height: 35px;
transition: margin .2s ease;
transition: padding .2s ease;
}

nav ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
gap: 1rem;
}

nav a {
color: var(--green-text-secondary);
text-decoration: none;
font-weight: 500;
padding: 0.3rem .8rem 0.3rem .8rem;
border-radius: 100px;
outline: 1.5px dashed var(--green-secondary);
background-color: var(--green-bg);
transition: background-color .2s ease;
font-size: .9rem;
vertical-align: text-top;
}

nav a:hover, .style-toggle:hover, .active-nav {
background-color: var(--green-primary);
color: var(--green-bg);
outline: 1.5px solid var(--green-secondary);
box-shadow: inset 0 0 0 1.5px var(--green-bg);

}

.style-toggle {
border-radius: 100px;
width: 1.8rem;
height: 1.8rem;
cursor: pointer;
border: 2px dashed var(--green-secondary);
background-color: var(--green-bg);
}

body {
max-width: 900px;
margin: auto;
padding: 1.6rem;
font-family: "DM Mono", monospace;
font-weight: 500;
color: var(--green-text-primary);
background-color: var(--green-bg);
display: flex;
flex-direction: column;
gap: 1rem;
transition: padding .2s ease;
}

.main-container {
background-color: var(--green-bg-accent);
padding: 2rem 2rem 3rem 2rem;
border-radius: 16px;
transition: padding .2s ease;
}

table {
width: 100%;
table-layout: auto;
border-collapse: collapse;
font-size: 1rem;
text-align: left;
margin-top: 2rem;
color: var(--green-text-secondary);
transition: margin .2s ease;
}

tr {
border-top: 2px dashed var(--green-secondary);
}

tr:first-child {
border-top: none;
}

th, td {
border-left: 2px dashed var(--green-secondary);
}

td {
padding: 0.4rem;
cursor: pointer;
}

tr td:first-child {
width: fit-content;
white-space: nowrap;
}

tr td:last-child {
width: 100%;
}

th:first-child,
td:first-child {
border-left: none;
}


th {
display: none;
}

.cell-content {
display: flex;
padding: 0.8rem 1rem;
border-radius: 10px;
}

td {
  position: relative;
}

td::before {
  content: "";
  position: absolute;
  inset: 0.4rem;
  border-radius: 6px;
  background: transparent;
  transition: background-color .2s ease;
}

tr:hover td::before {
  background-color: var(--green-primary);
}

tr:hover {
  color: var(--green-bg);
}

.cell-content {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 0.8rem 1rem;
}

.grainy::before {
  content: "";
  position: fixed;
  inset: -25%;
  pointer-events: none;
  mix-blend-mode: overlay;
  opacity: .2;
  filter: url(#grain);
  background: var(--green-primary);
  z-index: 9999;
}


@media (max-width: 600px) {

body {
  padding: .5rem;
}

.main-container {
padding: 2rem 1rem 3rem 1rem;
}

nav {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem
}

.cell-content{
  padding: .4rem;
}

table {
  margin-top: 2rem;
}
}


